$base: ".header-profile";

.header-profile {
  $self: &;

  display: flex;
  align-items: center;

  &__progress {
    padding-right: 15px;
    border-right: 1px solid Hsl($gray);
  }

  &__content {
    width: 300px;

    padding: 10px;
  }

  &__title {
    margin-bottom: 4px;
    color: Hsl($primary_text);
    font-size: 12px;
    line-height: 14px;
  }

  &__icon {
    margin-left: 8px;
    color: Hsl($primary_text);
    transition: transform 0.1s;

    #{$self}-picture--is-opened & {
      transform: rotate(180deg);
    }
  }
}

.header-profile-picture {
  display: flex;
  align-items: center;
  padding: 10px;

  &__avatar {
    width: 26px;
    height: 26px;
    flex-shrink: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    border: 1px solid Hsla($gray, 0.5);
    border-radius: 50%;
    background-color: Hsla($gray, 0.5);
  }

  &__icon {
    color: Hsl($gray);
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__name {
    margin-left: 8px;
  }

  .is-keyboard-user &:focus {
   #{$base}-picture {
      &__avatar {
        @include focus;
      }
    }
  }
}

.header-profile-item {
  &__label {
    color: Hsl($primary_text);
    font-size: 14px;
    line-height: 18px;
  }

  &__icon {
    flex-shrink: 0;
    margin-right: 8px;
    color: Hsl($primary_text);
  }
}
