.ui-textarea {
  $self: &;

  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__field {
    width: 100%;
    padding: 10px;
    border: 1px solid Hsla($primary, 0.2);
    border-radius: $border_radius;
    color: Hsl($primary_text);
    font-size: 14px;
    line-height: 18px;
    resize: none;
    min-height: 100px;
    transition: border 0.1s, color 0.1s;

    &::placeholder {
      color: Hsla($primary_text, 0.7);
    }

    #{$self}:not(#{$self}--disabled):not(#{$self}--has-errors):hover & {
      border-color: Hsla($primary, 0.8);
    }

    &--has-errors {
      border-color: Hsl($red);
    }

    &--valid {
      border-color: Hsl($green);
    }

    &:disabled {
      cursor: default;
      border-color: transparent;
      background-color: Hsla($gray, 0.5);
      color: Hsla($primary_text, 0.3);

      &::placeholder {
        color: Hsla($primary_text, 0.3);
      }
    }

    .is-keyboard-user &:not(#{$self}--has-errors):focus {
      @include focus;
    }
  }

  &__label {
    color: Hsla($primary, 0.7);
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 4px;

    #{$self}--disabled & {
      color: Hsla($primary_text, 0.3);
    }
  }

  &__counter {
    font-size: 12px;
    color: Hsla($primary, 0.7);
    margin-top: 4px;
    text-align: right;
  }

  &__append {
    margin-top: 5px;
    #{$self}--disabled & {
      opacity: 0.3;
    }
  }

  &__message {
    z-index: 50;
    font-size: 11px;
    line-height: 13px;
    margin-top: 8px;
    color: Hsla($primary_text, 0.8);
  }

  &__error {
    margin-top: 2px;
    display: none;
    color: Hsl($red);
    font-size: 10px;
    line-height: 12px;
  }
}

.ui-input-message {
  max-width: 100%;
  padding: 8px 12px;
  border-radius: $border_radius;
  background-color: Hsl($white);
  color: Hsl($primary_text);
  box-shadow: 0 2px 4px 0 hsla(0deg, 0%, 0%, 0.16);

  &__item {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &--error {
      color: Hsl($red);
    }
  }

  &__label {
    min-width: 32px;
    margin-right: 5px;
    color: Hsla($blue, 0.9);
    font-weight: 700;
  }
}
