.main-header-menu {
  $self: &;

  display: flex;
  align-items: center;

  &__item {
    position: relative;
    transition: all 0.1s;

    &:hover {
      background-color: Hsla($gray);

      #{$self}__sub {
        display: block;
      }
    }
  }

  &__link {
    display: block;
    padding: 16px 10px;
    color: Hsla($main_text);
    font-size: 14px;
    line-height: 20px;

    &.router-link-active {
      color: Hsla($blue);
      font-weight: 600;
    }
  }

  &__sub {
    min-width: 240px;
  }
}

.main-header-menu-sub {
  display: none;

  &__item {
    font-size: 14px;
    line-height: 18px;
    white-space: nowrap;
  }
}
