$base: ".ui-button";

#{$base} {
  $self: &;

  &--size-l {
    --ui-button-indent-x: 35px;
    min-width: 32px;
    min-height: 32px;

    &#{$self}--back-mode {
      --ui-button-indent-x: 10px;
      --align-center: flex-start;
    }

    #{$self}__label {
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
    }
  }
}
