$base: ".ui-button";

#{$base} {
  $self: &;

  &--size-l {
    min-width: 32px;
    min-height: 32px;

    &#{$self}--back-mode {
      --ui-button-indent-x: 10px;
      --align-center: flex-start;
    }

    &#{$self}--lite-mode {
      #{$self}__icon {
        min-width: 32px;
        min-height: 32px;
      }
    }

    #{$self}__label {
      font-size: 14px;
      line-height: 19px;
    }
  }
}
