$base: ".ui-button";

#{$base} {
  $self: &;

  &--size-m {
    min-width: 24px;
    min-height: 24px;

    #{$self}__label {
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
    }
  }
}
