$base: ".ui-button";

#{$base} {
  $self: &;

  &--size-xl {
    --ui-button-indent-y: 10px;
    --ui-button-indent-x: 50px;
    min-width: 40px;
    min-height: 40px;

    #{$self}__label {
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
    }
  }
}
