$base: ".ui-button";

#{$base} {
  &--theme-default:not(#{$base}--lite-mode) {
    background-color: transparent;
    color: Hsla($main_text, 0.7);

    &:hover {
      color: Hsla($main_text, 0.5);
    }

    &:active {
      color: Hsla($main_text, 0.7);
    }

    &:disabled {
      color: Hsla($main_text, 0.3);
    }
  }
}
