$base: ".ui-button";

#{$base} {
  &--theme-green {
    background-color: Hsl($green);
    color: Hsl($white);

    &:hover {
      background-color: Hsl($dark_green);
    }

    &:active {
      background-color: Hsl($green);
    }

    &:disabled {
      background-color: Hsla($green, 0.7);
      color: Hsla($white, 0.7);
    }
  }
}
