$base: ".ui-button";

#{$base} {
  &--theme-white {
    background-color: Hsl($white);
    color: Hsl($primary_text);

    &:hover {
      background-color: Hsla($white, 0.8);
    }

    &:active {
      background-color: Hsl($white);
    }

    &:disabled {
      background-color: Hsla($white, 0.5);
      color: Hsla($primary_text, 0.3);
    }
  }
}
