$base: ".ui-button";

#{$base} {
  &--theme-white {
    background-color: Hsl($white);
    border: 1px solid Hsl($primary);
    color: Hsl($primary);

    &:hover {
      background-color: Hsla($white, 0.8);
    }

    &:active {
      background-color: Hsl($white);
    }

    &:disabled {
      background-color: Hsla($white, 0.5);
      color: Hsla($primary, 0.3);
    }
  }
}
