.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  background-color: Hsla($white);

  box-shadow: 2px 4px 16px 0 Hsla($main_text, 0.2);
}
