$border_radius: 3px;

// screen width
// заполнить

// colors
$main: 221, 32%, 25%;
$main_text: 221, 17%, 28%;
$green: 119, 33%, 52%;
$dark_green: 119, 45%, 38%;
$white: 0, 0%, 100%;
$gray: 220, 22%, 92%;
$bg_gray: 210, 25%, 98%;
$dark_gray: 222, 7%, 50%;
$gray_hover: 221, 31%, 90%;
$black: 211, 48%, 17%;
$light_red: 0, 100%, 50%;
$red: 1, 62%, 58%;
$dark_red: 1, 59%, 46%;
$orange: 29, 100%, 71%;
$blue: 208, 100%, 62%;
