$border_radius: 3px;

// colors
$primary: 216, 100%, 69%; // 221, 32%, 25%
$dark_primary: 219 83% 68%;
$primary_text: 245, 3%, 19%; // 221, 17%, 28%

$white: 0, 0%, 100%;
$gray: 219, 2%, 37%; // 220, 22%, 92%
$gray_bg: 210, 25%, 98%;
$dark_gray: 222, 7%, 50%;
$gray_hover: 221, 31%, 90%;

$green: 168, 46%, 59%; // 119, 33%, 52%
$dark_green: 119, 45%, 38%;

$red: 0, 100%, 73%; // 1, 62%, 58%
$dark_red: 1, 59%, 46%;

$blue: 211, 100%, 69%; // 208, 100%, 62%

$purple: 252, 100%, 77%;
$yellow: 36, 100%, 68%;
