$border_radius: 3px;

// colors
$main: 216, 100%, 69%;
$white: 0, 0%, 100%;
$main_text: 245, 3%, 19%;
$gray: 219, 2%, 37%;

$red: 0, 100%, 73%;
$purple: 252, 100%, 77%;
$yellow: 36, 100%, 68%;
$blue: 211, 100%, 69%;
$green: 168, 46%, 59%;
