.main-header-logo {
  &__link {
    color: hsl(219deg, 72%, 25%);
    font-size: 20px;
    font-weight: 300;
    line-height: 19px;
  }

  &__bold {
    color: hsl(194deg, 91%, 49%);
    font-weight: 700;
  }
}
